.logo {
  height: 75px; width: 75px ;
  background-color: darkgray; 
  border-radius: 50%; 
  background-image: url('Selfi.jpg');
  background-size: cover;
}

.main-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}